<html>
    <head>
        <title>
            These are Collection of Lessons for the Course!
        </title>
    </head>
    <body>
        <div className="LessonApp">
            <div>
                <h1>1. • Introduction to Blockchain</h1><hr/>
                <h1>2. • Key Features</h1><hr/>
                <h1>3. • Consensus Algorithms</h1><hr/>
                <h1>4. • How it works?</h1><hr/>
                <h1>5. • Types and platforms</h1><hr/>
                <h1>6. • Smart Contracts</h1><hr/>
            </div>
        </div>
    </body>
</html>